@import '../styles/variables.scss';

header {
    background-color: $black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
    position: relative;
    z-index: 9;

    .logo {
        color: $white;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 5dvh;
        list-style-type: none;

        a {
            text-decoration: none;
            color: $white;
            transition: color .8s;
        }

        a:hover {
            color: $primaryGreen;
        }
    }
}

